<div class="container-main">
	<section class="card">
		<div class="card-header">
			<h1 class="txt-headline">Hello world!</h1>
		</div>
		<div class="card-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque assumenda quidem voluptate hic nobis, similique voluptatibus praesentium expedita quas deleniti laborum debitis blanditiis dignissimos eum reiciendis necessitatibus dolor enim facilis!</p>
		</div>
		<div class="card-actions">
			<button type="button" class="btn btn-primary" dialog>
				<span data-icon="exit" class="icon-lg"></span>
				I like it!
			</button>
		</div>
	</section>
</div>
