<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=11"/>-->
    <base href="/">
    <title>This is a super cool project</title>

    <link href="assets/img/favicon.ico" rel="icon" />
    <!-- inject:css -->
    <!-- endinject -->

    <!--[if lt IE 9]>
    <script type="text/javascript">
      window.location = 'not-supported.html';
    </script>
    <![endif]-->

    <!-- inject:js -->
    <!-- endinject -->
  </head>

  <body ui-view ng-app="app"></body>
</html>
