// variables
// ----------------------------------------
// This is a standard basic template to start customizing your variables
// This file will overwrite the deafult ones
// Feel free to edit/add/remove whatever you need

// palette black
$black: (
	black:                    rgba(0,0,0,1),
	primary:                  rgba(0,0,0,.87),
	secondary:                rgba(0,0,0,.54),
	disabled:                 rgba(0,0,0,.26),
	light:                    rgba(0,0,0,.12)
);

// palette white
$white: (
	full:                     rgba(255,255,255,1),
	light:                    rgba(255,255,255,.87)
);

// palette brand
$brand: (
	main:                     #880c58,
	main-contrast:            map-get($white, 'full'),
	text:                     map-get($black, 'primary'),
	background:               map-get($white, 'full'),
	background-hue-1:         #fafafa
);

// palette interactive
$interactive: (
	primary:                  #3f51b5,
	primary-contrast:         map-get($white, 'light'),
	primary-hue-1:            #5c6bc0,
	primary-hue-1-contrast:   map-get($white, 'full'),
	secondary:                #00bcd4,
	secondary-contrast:       map-get($white, 'full'),
	secondary-hue-1:          #4dd0e1,
	secondary-hue-1-contrast: map-get($white, 'full')
);

// palette state
$state: (
	success:                  #c8e6c9,
	success-contrast:         #1b5e20,
	error:                    #ffcdd2,
	error-contrast:           #b71c1c,
	info:                     #bbdefb,
	info-contrast:            #0d47a1,
	warning:                  #ffecb3,
	warning-contrast:         rgba(0,0,0,.87)
);
